<div class="container rounded-5">
  <form class="p-5" #editForm="ngForm" (ngSubmit)="onSubmit()">
    <h1 class="text-center display-4">View Customer</h1>
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input Disabled input #firsname="ngModel" [(ngModel)]="customer.firstName" name="firstName" type="text"
        class="form-control" id="firstName" aria-describedby="emailHelp">

    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input Disabled input #lastname="ngModel" [(ngModel)]="customer.lastName" name="LastName" type="text"
        class="form-control" id="lastName">

    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input Disabled input #email="ngModel" [(ngModel)]="customer.email" name="email" type="email" class="form-control"
        id="email">

    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">Phone</label>
      <input Disabled input minlength="8" #phone="ngModel" [(ngModel)]="customer.phone" name="phone" type="text"
        class="form-control" id="phone">

    </div>


    <button type="btn" class="btn btn-primary w-100">Close</button>
  </form>

</div>
