<div id="sidrBar"
  class="navbar-dark sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark d-none d-lg-block h-100">
  <ul class="navbar-nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/customers" class="nav-link mb-4"><i class="fa-solid fa-user-group me-2 fa-lg"></i>Customers</a>
    </li>
    <li class="nav-item">
      <a routerLink="/contacts" class="nav-link mb-4"><i class="fa-solid fa-address-book me-3 fa-lg"></i>Contacts</a>
    </li>
    <li class="nav-item">
      <a routerLink="" class="nav-link pe-none mb-4"><i class="fa-regular fa-hand-point-up me-3 fa-lg"></i>Leads</a>
    </li>
    <li class="nav-item">
      <a routerLink="" class="nav-link pe-none  mb-4"><i class="fa-solid fa-flag me-3 fa-lg"></i>Reports</a>
    </li>
    <li class="nav-item">
      <a routerLink="" class="nav-link pe-none mb-4"><i class="fa-solid fa-briefcase me-3 fa-lg"></i>Orders</a>
    </li>
    <li class="nav-item">
      <a routerLink="" class="nav-link pe-none mb-4"><i class="fa-solid fa-comment me-3 fa-lg"></i>Chat</a>
    </li>
    <li class="nav-item">
      <a routerLink="" class="nav-link pe-none mb-4"><i class="fa-regular fa-file me-3 fa-lg"></i>Document</a>
    </li>
    <li class="nav-item">
      <a routerLink="" class="nav-link pe-none mb-4"><i class="fa-solid fa-gear me-3 fa-lg"></i>Settings</a>
    </li>
    <li class="nav-item">
      <a routerLink="" class="nav-link pe-none mb-4"><i class="fa-solid fa-magnifying-glass me-3 fa-lg"></i>Search</a>
    </li>
    <li class="nav-item">
      <a routerLink="" class="nav-link pe-none mb-4"><i class="fa-solid fa-house me-3 fa-lg"></i>Home</a>
    </li>

  </ul>
</div>
